#about-container {
    display: block;
    width: 40rem;
    margin: 4rem auto;
    text-align: left;
    font-size: 1.1rem;
    
    p {
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 700px) {
    #about-container {
        width: 30rem;
    }
}
@media only screen and (max-width: 485px) {
    #about-container {
        width: 20rem;
    }
}
@media only screen and (max-width: 350px) {
    #about-container {
        width: 10rem;
    }
}