#flex {
    display: flex;
    margin: 1rem auto 1rem auto;
    width: 45rem;
    flex-direction: column;
    justify-content: center;
    
    #flex-item {
        justify-self: center;
        font-size: 1.1rem;
        padding: 1rem;
        
        .single-proj {
            display: inline-block;
            transition: all 0.2s ease-in-out 0s;
        }
        .single-proj:hover {
                // transition: cubic-bezier(.04,.79,.8,.09);
            transform: scale(1.01);
            // font-size: 250px;
        }
        a{
            text-decoration: none;
            color: black;
        }
        h1 {
            margin-bottom: 0.5rem;
        }
        p{
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
        
    }
    
}
@media only screen and (max-width: 700px) {
    #flex {
        width: 25rem;
    }
}