footer {
    ul {
        font-size: 1.15rem;
        text-align: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding-bottom: 8px;
            a {
                text-decoration: none;
                color: black;
            }
            a:visited {
                color: black;
            }
            a:active {
                color: rgb(65, 65, 65);
            }
            .mail {
                color: black
            }
            .mail:visited {
                color: black;
            }
        } 
        
    }
    margin-top: 7rem;

    #page-end {
        padding-top: 1rem;
        font-size: 0.9rem;
        span {
            color: rgb(211, 23, 23);
        }
    }
}