footer {
    ul {
        font-size: 1.4rem;
        text-align: center;
        list-style-type: none;
        li {
            padding-bottom: 8px;
            a {
                text-decoration: none;
            }
            a:visited {
                color: black;
            }
            a:hover {
                border-bottom: 1px solid black;
            }
            a:active {
                color: rgb(65, 65, 65);
            }
            .mail {
                color: black
            }
            .mail:visited {
                color: black;
            }
        } 
        
    }

    #page-end {
        padding-top: 25px;
        font-size: 0.9rem;
    }
}