footer {
    ul 
    {
        text-align: center;
        list-style-type: none;
        li {
            padding-bottom: 8px;
            a {
                text-decoration: none;
            }
            a:visited {
                color: black;
            }
            a:hover {
                // text-decoration: underline;
                text-decoration-color: black;
                // text-decoration-thickness: 25px;
                // border-top: 3px solid;
                border-bottom: 1px solid black;
                // border-bottom-color: black;
            }
            a:active {
                color: rgb(65, 65, 65);
            }
        } 
        
    }
    h3 {
        text-align: center;
    }
    h6 {
        text-align: center;
    }
}