$primary-color: black;

nav {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    width: 100%;

    ul {
        list-style-type: none;
        // overflow: hidden;

        li {
            display: inline-block;
            
            padding-right: 40px;

            a {
                text-decoration: none;
                :link, :visited {
                    color: $primary-color;
                }
                :hover {
                    border-bottom: 1px solid $primary-color;
                    
                }
            }

        }
    }
}
@media only screen and (max-width: 450px) {
    nav ul li {
        margin-top: 3rem;
    }
}